---
title: Billing
---

<div class="mzp-l-content mzp-t-narrow">
  <form class="mzp-c-form">
    <h2 class="mzp-c-form-heading">Billing information</h2>
    <p class="mzp-c-form-intro">Find out what hackers already know about you. Learn how to stay a step ahead of them.</p>
    {{#embed "patterns.molecules.forms.fields.input" id="name" type="text" }}
      {{#content "label"}}Name as it appears on your card{{/content}}
    {{/embed}}
    <div class="mzp-c-form-group mzp-l-form-group-row">
      {{#embed "patterns.molecules.forms.fields.input" id="br1" type="text"}}
        {{#content "label"}}Card Number{{/content}}
        {{#content "attrs"}}maxlength="19" size="19"{{/content}}
      {{/embed}}
      <fieldset class="mzp-c-form-set">
        <legend class="mzp-c-form-label">Expiry</legend>
        <div class="mzp-c-form-group mzp-l-form-group-expiry">
          {{#embed "patterns.molecules.forms.fields.input" id="f7" type="text"}}
            {{#content "label"}}
              Month
            {{/content}}
            {{#content "attrs"}}
              maxlength="2" size="2"
            {{/content}}
          {{/embed}}
          <div class="mzp-c-form-group-spacer">/</div>
          {{#embed "patterns.molecules.forms.fields.input" id="f8" type="text"}}
            {{#content "label"}}
              Year
            {{/content}}
            {{#content "attrs"}}
              maxlength="2" size="2"
            {{/content}}
          {{/embed}}
        </div>
      </fieldset>
      {{#embed "patterns.molecules.forms.fields.input" id="ccv" type="text"}}
        {{#content "label"}}CCV{{/content}}
        {{#content "attrs"}}maxlength="3" size="3"{{/content}}
      {{/embed}}
      {{#embed "patterns.molecules.forms.fields.input" id="zip" type="text"}}
        {{#content "label"}}Zip Code{{/content}}
        {{#content "attrs"}}maxlength="5" size="5"{{/content}}
      {{/embed}}
    </div>
    <div class="mzp-c-form-group mzp-l-form-group-row">
      {{#embed "patterns.molecules.forms.fields.input" id="city" type="text"}}
        {{#content "label"}}City{{/content}}
        {{#content "attrs"}}size="30"{{/content}}
      {{/embed}}
      {{#embed "patterns.molecules.forms.fields.select" id="state"}}
        {{#content "label"}}State{{/content}}
        {{#content "options"}}
        <option></option>
        <option>California</option>
        <option>Oregon</option>
        <option>Washington</option>
        {{/content}}

      {{/embed}}
    </div>

    <div class="mzp-c-form-buttons">
      <div class="mzp-c-form-group mzp-l-form-group-half">
        <button type="submit" class="mzp-c-button mzp-t-secondary mzp-t-product mzp-t-small">Cancel</button>
        <button type="submit" class="mzp-c-button mzp-t-primary mzp-t-product mzp-t-small">Submit</button>
        <p class="mzp-c-form-info mzp-t-small">
          Mozilla uses Strip for secure payment processing.<br>
          View the <a href="#">Stripe privacy policy</a>.
        </p>
  </form>
</div>
