---
title: Firefox Account Signup
---

<p>TODO: center</p>

<div class="mzp-l-content mzp-t-narrow">
  <form class="mzp-c-form mzp-l-h-center">
    <h2 class="mzp-c-form-heading">See if you’ve been part of an online data breach.</h2>
    <p class="mzp-c-form-intro">Find out what hackers already know about you. Learn how to stay a step ahead of them.</p>
    {{#embed "patterns.molecules.forms.fields.input" id="breaches" type="email" addclass="mzp-l-full" placeholder="Enter email address" }}
        {{#content "label"}}Email{{/content}}
      {{/embed}}
      <button type="submit" class="mzp-c-button mzp-t-primary mzp-t-product mzp-t-small mzp-l-full" id="fxa-email-form-submit" data-cta-type="fxa-sync" data-cta-text="Register" data-cta-position="primary">
        Continue
      </button>
      <p class="mzp-c-form-info mzp-t-small mzp-l-full">
        Search for your email address in public data breaches going back to 2007.
      </p>
  </form>
</div>
