// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';


.mzp-c-group {
    display: grid;
    column-gap: $field-spacing;
    min-width: 1px; // to solve problem with floated legends

    & > .mzp-c-field-msg:last-child,
    & > .mzp-c-field-info:last-child {
        margin-bottom: $field-spacing;
    }
}

.mzp-c-group-spacer {
    color: $color-gray-70;
    padding: #{$field-padding + 2px} 0; // push content down to be inline with field-control content
}

/* -------------------------------------------------------------------------- */
// fixed width, fields conform to the grid

.mzp-l-group-full,
.mzp-l-group-half,
.mzp-l-group-third,
.mzp-l-group-quarter {
    grid-template-columns: repeat(1, 1fr);

    > .mzp-c-field > .mzp-c-field-control {
        min-width: 0;
        width: 100%;
    }
}

@media #{$mq-sm} {
    .mzp-l-group-half {
        grid-template-columns: repeat(2, 1fr);
    }

    .mzp-l-group-third {
        grid-template-columns: repeat(3, 1fr);
    }

    .mzp-l-group-quarter {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media #{$mq-md} {
    .mzp-l-group-quarter {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* -------------------------------------------------------------------------- */
// flexable width, grid conforms to the fields

.mzp-l-group-datetime,
.mzp-l-group-expiry,
.mzp-l-group-row {
    grid-template-columns: repeat(1, 1fr);

    > .mzp-c-field > .mzp-c-form-msg,
    > .mzp-c-field-control {
        min-width: 0;
        width: auto;
    }
}

.mzp-l-group-datetime {
    grid-template-columns: repeat(2, min-content) 1fr; // extra fr lets msg and info blocks expand to width of parent
}

.mzp-l-group-expiry {
    grid-template-columns: repeat(3, min-content) 1fr; // extra fr lets msg and info blocks expand to width of parent
    column-gap: $spacing-sm;

    > .mzp-c-field > .mzp-c-form-label {
        @include visually-hidden();
    }
}

@media #{$mq-sm} {
    .mzp-l-group-row {
        grid-template-columns: min-content min-content min-content min-content min-content 1fr;
    }
}

