// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';

input[list],
input[type='color'],
input[type='date'],
input[type='email'],
input[type='file'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
select,
textarea {

    .mzp-is-error & {
        border-color: $form-red;
        box-shadow: none;

        &:hover {
            border-color: $color-red-80;
        }

        &:focus {
            border-color: $form-red;
            box-shadow: 0 0 0 2px rgba($form-red, .5);
        }

        &:focus:hover {
            border-color: $color-red-80;
        }
    }

    .mzp-is-warn & {
        border-color: $form-yellow;
        box-shadow: none;

        &:hover {
            border-color: $color-yellow-70;
        }

        &:focus {
            border-color: $form-yellow;
            box-shadow: 0 0 0 2px rgba($form-yellow, .5);
        }

        &:focus:hover {
            border-color: $color-yellow-70;
        }
    }

    .mzp-is-success & {
        border-color: $form-green;
        box-shadow: none;

        &:hover {
            border-color: $color-green-70;
        }

        &:focus {
            border-color: $form-green;
            box-shadow: 0 0 0 2px rgba($form-green, .5);
        }

        &:focus:hover {
            border-color: $color-green-70;
        }
    }
}

/* -------------------------------------------------------------------------- */
// Choices

.mzp-c-choice {
    .mzp-is-error &,
    &.mzp-is-error {
        input[type="checkbox"] + label:before {
            content: url('/static/img/forms/check_sprite_error.svg');
        }

        input[type="radio"] + label:before {
            content: url('/static/img/forms/radio_sprite_error.svg');
        }
    }

    .mzp-is-warn &,
    &.mzp-is-warn {
        input[type="checkbox"] + label:before {
            content: url('/static/img/forms/check_sprite_warn.svg');
        }

        input[type="radio"] + label:before {
            content: url('/static/img/forms/radio_sprite_warn.svg');
        }
    }

    .mzp-is-success &,
    &.mzp-is-success {
        input[type="checkbox"] + label:before {
            content: url('/static/img/forms/check_sprite_success.svg');
        }

        input[type="radio"] + label:before {
            content: url('/static/img/forms/radio_sprite_success.svg');
        }
    }
}
