// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';

.mzp-c-form {
    color: $color-gray-70;
    margin-bottom: $field-spacing;

    &.mzp-t-dark {
        color: #fff;
    }

    fieldset {
        margin-bottom: 0;
    }
}

// heading
.mzp-c-form-head {
    @include text-body-lg;
    font-weight: bold;
    margin: 0 0 $label-spacing;
}

legend.mzp-c-form-head {
    float: left;
    padding-bottom: $label-spacing;
    margin: 0;
    width: 100%;
}

// labels
.mzp-c-form-label {
    @include form-label;
}

legend.mzp-c-form-label {
    float: left;
    padding-bottom: $label-spacing;
    margin: 0;
    width: 100%;
}

// fields
.mzp-c-field {
    margin-bottom: $field-spacing;
    max-width: 100%;

    button {
        margin-bottom: 0;
    }

    textarea,
    select,
    input[list],
    input[type='color'],
    input[type='date'],
    input[type='email'],
    input[type='file'],
    input[type='number'],
    input[type='password'],
    input[type='search'],
    input[type='tel'],
    input[type='text'],
    input[type='time'],
    input[type='url'] {
        margin-bottom: 0; // bottom margin is on the parent element now
    }
}

// infos
.mzp-c-field-info {
    @include form-info;

    .mzp-c-form-msg + & {
        margin-top: $spacing-xs;
    }

    .mzp-c-field-control + & {
        margin-top: $spacing-md;
    }
}

// sets
.mzp-c-field-set {
    margin-bottom: 0;
}

// set infos
.mzp-c-field-set-info {
    @include form-info;

    .mzp-c-choices + &,
    .mzp-c-group + &{
        margin-top: ($field-spacing * -1) + $spacing-md;
    }

    .mzp-c-form-msg + & {
        margin-top: $spacing-xs;
    }

    .mzp-c-field-set > &:last-child {
        margin-bottom: $field-spacing;
    }
}
