// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';


.mzp-c-input-group {

    // move bottom margin off form element because form margins don't collapse
    margin-bottom: $spacing-lg;

    textarea,
    input[list],
    input[type='color'],
    input[type='date'],
    input[type='email'],
    input[type='file'],
    input[type='number'],
    input[type='password'],
    input[type='search'],
    input[type='tel'],
    input[type='text'],
    input[type='time'],
    input[type='url'] {
        margin-bottom: 0;
    }
}

.mzp-c-set-choices {
    margin-bottom: $spacing-lg;

    // fieldset margins don't collapse, so need to make sure there's no margin on last child
    & > *:last-child,
    & > *:last-child > *:last-child,
    & > *:last-child > *:last-child {
        margin-bottom: 0 ;
    }

    legend {
        @include text-body-sm;
        color: $color-gray-70;
        display: block;
        font-weight: bold;
        float: left;
        padding-bottom: $spacing-sm;
        margin: 0;
        width: 100%;
    }

    .mzp-c-choice {
        margin-bottom: $spacing-sm;

        label {
            font-weight: normal;
            margin-bottom: 0;
        }
    }
}
