---
title: Content Width Comparison
notes: Testing updated content widths.
layout: blank
labels:
  - inprogress
  - prototype
styles:
  - content
---

<h1>Content containers</h1>

<div class="mzp-l-content mzp-t-content-sm display">
  <p class="label">old small <code>max-width: 464px</code></p>
</div>

<div class="new-l-content mzp-t-content-sm display">
  <p class="label">new small <code>max-width: 432px</code></p>
</div>

<div class="mzp-l-content mzp-t-content-md display">
  <p class="label">old medium <code>max-width: 736px</code></p>
</div>

<div class="new-l-content mzp-t-content-md display">
  <p class="label">new medium <code>max-width: 688px</code></p>
</div>

<div class="mzp-l-content mzp-t-content-lg display">
  <p class="label">old large <code>max-width: 992px</code></p>
</div>

<div class="new-l-content mzp-t-content-lg display">
  <p class="label">new large <code>max-width: 928px</code></p>
</div>

<div class="mzp-l-content mzp-t-content-xl display">
  <p class="label">old x-large <code>max-width: 1248px</code></p>
</div>

<div class="new-l-content mzp-t-content-xl display">
  <p class="label">new x-large <code>max-width: 1152px</code></p>
</div>

<div class="mzp-l-content display">
  <p class="label">default <code>max-width: 1420px</code></p>
</div>

<hr>

<h2>Old width tokens</h2>
<div class="mzp-l-content mzp-t-content-sm display">
  <p class="label">old small <code>max-width: 464px</code></p>
</div>

<div class="mzp-l-content mzp-t-content-md display">
  <p class="label">old medium <code>max-width: 736px</code></p>
</div>

<div class="mzp-l-content mzp-t-content-lg display">
  <p class="label">old large <code>max-width: 992px</code></p>
</div>

<div class="mzp-l-content mzp-t-content-xl display">
  <p class="label">old x-large <code>max-width: 1248px</code></p>
</div>

<div class="mzp-l-content display">
  <p class="label">default <code>max-width: 1420px</code></p>
</div>

<hr>

<h2>New width tokens</h2>
<div class="new-l-content mzp-t-content-sm display">
  <p class="label">new small <code>max-width: 432px</code></p>
</div>

<div class="new-l-content mzp-t-content-md display">
  <p class="label">new medium <code>max-width: 688px</code></p>
</div>

<div class="new-l-content mzp-t-content-lg display">
  <p class="label">new large <code>max-width: 928px</code></p>
</div>

<div class="new-l-content mzp-t-content-xl display">
  <p class="label">new x-large <code>max-width: 1152px</code></p>
</div>

<div class="mzp-l-content display">
  <p class="label">default <code>max-width: 1420px</code></p>
</div>
