---
title: Form components
---

<fieldset id="status" class="mzp-c-group-choices mzp-l-group-inline">
  <legend class="mzp-c-field-label">Status:</legend>
  {{#embed "patterns.molecules.forms.test.choice" id="status-none" type="radio" name="status" value="none"}}
    {{#content "label"}}
      none
    {{/content}}
  {{/embed}}
  {{#embed "patterns.molecules.forms.test.choice" id="status-error" type="radio" name="status" value="error"}}
    {{#content "label"}}
      error
    {{/content}}
  {{/embed}}
  {{#embed "patterns.molecules.forms.test.choice" id="status-warn" type="radio" name="status" value="warn"}}
    {{#content "label"}}
      warn
    {{/content}}
  {{/embed}}
  {{#embed "patterns.molecules.forms.test.choice" id="status-success" type="radio" name="status" value="success"}}
    {{#content "label"}}
      success
    {{/content}}
  {{/embed}}
</fieldset>

<style>
  /* datetime */
  .mzp-l-fields-datetime:after {
      content: " ";
      display: table;
      clear: both;
    }

    .mzp-l-fields-datetime .mzp-c-field {
      width: 50%;
      float: left;
    }

    .mzp-l-fields-datetime .mzp-c-field:first-child {
      width: 170px;
    }

  .mzp-l-fields-credit .mzp-c-field {
    width: 33%;
    float: left;
  }

  .mzp-l-fields-expiry .mzp-c-field {
    width: 100px;
    display: inline-block;
    vertical-align: top;
  }

  .mzp-l-fields-expiry .mzp-c-field-control {
    min-width: 100px;
    width: 100px;
  }

  .mzp-l-choices-inline .mzp-c-choice {
    display: inline-block;
  }
</style>

<form id="form">

  <h3>One of everything</h3>
  <fieldset>
    <legend>Form components</legend>
    {{#embed "patterns.molecules.forms.test.input" id="g-color" type="color"}}{{#content "label"}}Color{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.input" id="g-date" type="date"}}{{#content "label"}}Date{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.input" id="g-email" type="email"}}{{#content "label"}}Email{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.input" id="g-file" type="file"}}{{#content "label"}}File{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.list" id="g-list"}}{{#content "label"}}List{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.input" id="g-number" type="number"}}{{#content "label"}}Number{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.input" id="g-password" type="password"}}{{#content "label"}}Password{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.input" id="g-range" type="range"}}{{#content "label"}}Range{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.input" id="g-search" type="search"}}{{#content "label"}}Search{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.input" id="g-tel" type="tel"}}{{#content "label"}}Tel{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.input" id="g-text" type="text"}}{{#content "label"}}Text{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.input" id="g-time" type="time"}}{{#content "label"}}Time{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.input" id="g-url" type="url"}}{{#content "label"}}URL{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.select" id="g-select"}}{{#content "label"}}Select{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.textarea" id="g-textarea"}}{{#content "label"}}Textarea{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.choice" id="g-radio" type="radio" name="g-radio"}}{{#content "label"}}Radio{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.choice" id="g-check" type="checkbox" name="g-check"}}{{#content "label"}}Checkbox{{/content}}{{/embed}}

    <div class="mzp-c-input-group">
      <button type="button" class="mzp-c-button">Button</button>
    </div>
    <div class="mzp-c-input-group">
      <input type="submit" value="Submit" class="mzp-c-button">
    </div>
    <div class="mzp-c-input-group">
      <input type="reset" value="Reset">
    </div>
  </fieldset>

  <h3>Checkboxes and radio buttons</h3>
  <fieldset class="mzp-c-group-choices">
    <legend class="mzp-c-field-label">Checkboxes</legend>
    {{#embed "patterns.molecules.forms.test.choice" id="s-check-1" type="checkbox"}}{{#content "label"}}Option 1{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.choice" id="s-check-2" type="checkbox"}}{{#content "label"}}Option 2{{/content}}{{/embed}}
    <p class="mzp-c-field-info">More information about this group</p>
  </fieldset>
  <fieldset class="mzp-c-group-choices mzp-l-group-inline">
    <legend class="mzp-c-field-label">Checkboxes Inline</legend>
    {{#embed "patterns.molecules.forms.test.choice" id="si-check-1" type="checkbox"}}{{#content "label"}}Option 1{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.choice" id="si-check-2" type="checkbox"}}{{#content "label"}}Option 2{{/content}}{{/embed}}
    <p class="mzp-c-field-info">More information about this group</p>
  </fieldset>

  <fieldset class="mzp-c-group-choices mzp-l-group-inline">
    <legend class="mzp-c-field-label">Check boxes <span class="mzp-c-fieldnote">Example with a fieldnote.</span></legend>
    {{#embed "patterns.molecules.forms.test.choice" id="sic-1" type="checkbox"}}{{#content "label"}}Option 1{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.choice" id="sic-2" type="checkbox"}}{{#content "label"}}Option 2{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.choice" id="sic-3" type="checkbox"}}{{#content "label"}}Option 3{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.choice" id="sic-4" type="checkbox"}}{{#content "label"}}Obnoxiously long input option that is intended to push this to a new line{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.choice" id="sic-5" type="checkbox"}}{{#content "label"}}Option 5{{/content}}{{/embed}}
    <p class="mzp-c-field-info">More information about this group</p>
  </fieldset>

  {{#embed "patterns.molecules.forms.test.choice" id="s-terms" type="checkbox"}}{{#content "label"}}Single checkbox <span class="mzp-c-fieldnote">With note</span>{{/content}}{{/embed}}
  {{#embed "patterns.molecules.forms.test.choice" id="s-terms2" type="checkbox" is-legal="true"}}{{#content "label"}}Single checkbox that for some reason we want to have a less prominent label{{/content}}{{/embed}}
  {{#embed "patterns.molecules.forms.test.choice" id="s-terms3" type="checkbox" is-legal="true" msg="You must agree to our privacy notice to continue."}}{{#content "label"}}I’m okay with Mozilla handling my info as explained in <a href="/en-US/privacy/websites/">this Privacy Notice</a>{{/content}}{{/embed}}
  <fieldset class="mzp-c-group-choices">
    <legend class="mzp-c-field-label">Check boxes <span class="mzp-c-fieldnote">Example with a fieldnote.</span></legend>
    {{#embed "patterns.molecules.forms.test.choice" id="scn-1" type="checkbox"}}{{#content "label"}}Option 1{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.choice" id="scn-2" type="checkbox"}}{{#content "label"}}Option 2{{/content}}{{/embed}}
    <div class="mzp-c-field-msg">Msg</div>
    <p class="mzp-c-field-info">More information about this group</p>
  </fieldset>

  <fieldset id="status" class="mzp-c-group-choices">
    <legend class="mzp-c-field-label">Radio buttons</legend>
    {{#embed "patterns.molecules.forms.test.choice" id="f5" type="radio" name="g1"}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.choice" id="f6" type="radio" name="g1"}}
      {{#content "label"}}
        Label <span class="mzp-c-fieldnote">Note</span>
      {{/content}}
    {{/embed}}
    <p class="mzp-c-field-info">More information about this group</p>
  </fieldset>

  <fieldset id="status" class="mzp-c-group-choices mzp-l-group-inline">
    <legend class="mzp-c-field-label">Radio buttons inline</legend>
    {{#embed "patterns.molecules.forms.test.choice" id="f9" type="radio" name="g2"}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.choice" id="f10" type="radio" name="g2"}}{{/embed}}
  </fieldset>

  <h2>Placeholder</h2>
  <!-- placeholders -->
  <fieldset>
    <legend>Placeholders</legend>
    {{#embed "patterns.molecules.forms.test.input" id="p1" type="email" info="true"}}
      {{#content "label"}}Email <em class="mzp-c-fieldnote">Required</em>{{/content}}
      {{#content "attrs"}}placeholder="you@example.com"{{/content}}
      {{#content "info"}}For account recovery.{{/content}}
    {{/embed}}
  </fieldset>

  <h2>Different sizes</h2>
  <!-- size configurations -->
  <fieldset>
    <legend>Smaller than default widths</legend>
    {{#embed "patterns.molecules.forms.test.textarea" id="s1"}}
      {{#content "label"}}Textarea{{/content}}
      {{#content "attrs"}}cols="10"{{/content}}
    {{/embed}}

    {{#embed "patterns.molecules.forms.test.input" id="s2" type="text"}}
      {{#content "label"}}Postal Code{{/content}}
      {{#content "attrs"}}size="7" maxlenght="7"{{/content}}
    {{/embed}}
  </fieldset>

  <fieldset>
    <legend>Wider than default widths</legend>
    {{#embed "patterns.molecules.forms.test.textarea" id="w1"}}
      {{#content "label"}}Textarea{{/content}}
      {{#content "attrs"}}cols="100"{{/content}}
    {{/embed}}

    {{#embed "patterns.molecules.forms.test.input" id="w2" type="text"}}
      {{#content "attrs"}}size="100"{{/content}}
    {{/embed}}

    {{#embed "patterns.molecules.forms.test.select" id="w3"}}
      {{#content "label"}}Wide select{{/content}}
      {{#content "options"}}
        <option>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in condimentum nisi. Donec consequat, elit sit amet viverra imperdiet, sem neque ullamcorper libero, sit amet porttitor est urna commodo lectus.</option>
        <option>Option 2</option>
        <option>Option 3</option>
      {{/content}}
    {{/embed}}
  </fieldset>

  <h2>Layouts</h2>
  <!-- group layouts -->
  <fieldset>
    <legend>Group Layouts</legend>
    <div class="mzp-l-fields-datetime">
      {{#embed "patterns.molecules.forms.test.input" id="dt1" type="date"}}{{/embed}}
      {{#embed "patterns.molecules.forms.test.input" id="dt2" type="time"}}{{/embed}}
    </div>
    <div class="mzp-l-fields-credit">
      {{#embed "patterns.molecules.forms.test.input" id="f2" type="text" msg="msg"}}{{/embed}}
      {{#embed "patterns.molecules.forms.test.input" id="f3" type="text" msg="msg"}}{{/embed}}
      {{#embed "patterns.molecules.forms.test.input" id="f4" type="text" msg="msg"}}{{/embed}}
    </div>

    <fieldset class="mzp-l-test">
      <legend class="mzp-c-field-label">Label</legend>
      {{#embed "patterns.molecules.forms.test.input" id="f4" type="text" msg="msg"}}
        {{#content "label"}}
          Label <span class="mzp-c-fieldnote">Hide me</span>
        {{/content}}
      {{/embed}}
      {{#embed "patterns.molecules.forms.test.input" id="f4" type="text" msg="msg" info="true"}}
        {{#content "label"}}
          Label <span class="mzp-c-fieldnote">Hide me</span>
        {{/content}}
        {{#content "info"}}
          Info
        {{/content}}
      {{/embed}}
    </fieldset>

    <fieldset class="mzp-l-fields-expiry">
      <legend class="mzp-c-field-label">Label</legend>
      {{#embed "patterns.molecules.forms.test.input" id="f7" type="text" msg="msg"}}
        {{#content "label"}}
          Label <span class="mzp-c-fieldnote">Hide me</span>
        {{/content}}
      {{/embed}}
      /
      {{#embed "patterns.molecules.forms.test.input" id="f8" type="text" msg="msg"}}
        {{#content "label"}}
          Label <span class="mzp-c-fieldnote">Hide me</span>
        {{/content}}
      {{/embed}}
      <p class="mzp-c-field-info">Details</p>
    </fieldset>

    <fieldset class="mzp-l-fields-credit">
      <legend>Set?</legend>
      {{#embed "patterns.molecules.forms.test.input" id="f11" type="text" msg="msg"}}
        {{#content "label"}}
          Label <span class="mzp-c-fieldnote">Note</span>
        {{/content}}
      {{/embed}}
      {{#embed "patterns.molecules.forms.test.input" id="f12" type="text" msg="msg"}}
        {{#content "label"}}
          Label <span class="mzp-c-fieldnote">Note</span>
        {{/content}}
      {{/embed}}
      <div class="mzp-c-msg">msg</div>
      <p class="mzp-c-field-info">Details</p>
    </fieldset>
  </fieldset>

<h2>Use cases</h2>
<fieldset>
  <legend>Subscribe</legend>
  <div class="mzp-c-choice">
    <input type="radio" name="sub-fx" id="sub-fx" value="subscribe">
    <label for="sub-fx">Firefox Newsletter</label>
    <div class="mzp-c-field-info">Get how-tos, advice and news ot make your Firefox experience work best for you.</div>
  </div>


  <div class="mzp-c-choice">
    <input type="radio" name="sub-dev" id="sub-dev" value="subscribe">
    <label for="sub-dev">Developer Newsletter</label>
    <div class="mzp-c-field-info">A developer's guide to highlights of Web platform innovactions, best practices, new documentation, and more.</div>
  </div>

</fieldset>

<hr>
<hr>
<hr>

<form>
  <h1>You’ve got the latest browser. Now get the rest of Firefox.</h1>
  <p>Join Firefox for a whole family of respectful products, plus all the knowledge you need to protect yourself online.</p>
  <div class="c-signup-container fxa-form-cta">
    <form action="https://accounts.firefox.com/" data-mozillaonline-action="https://accounts.firefox.com.cn/" id="fxa-email-form" class="fxa-email-form">
      <p class="fxa-email-form-intro">
        <strong>Enter your email</strong> to access Firefox Accounts.
      </p>
      <div class="fxa-email-field-container">
        <p class="field">
          <label for="fxa-email-field">Email address</label>
          <input type="email" name="email" id="fxa-email-field" class="fxa-email-field" placeholder="user@example.com" required="">
        </p>
        <p class="agreement">
          By proceeding, you agree to the <a href="https://accounts.firefox.com/legal/terms">Terms of Service</a> and <a href="https://accounts.firefox.com/legal/privacy">Privacy Notice</a>.
        </p>
        <button type="submit" class="mzp-c-button mzp-t-product mzp-t-small" id="fxa-email-form-submit" data-cta-type="fxa-sync" data-cta-text="Register" data-cta-position="primary">
          Continue
        </button>
      </div>
    </form>
  </div>
  <p><a href="/en-US/firefox/accounts/">Learn more about joining Firefox</a></p>
</form>
<hr>
<hr>
<hr>
<div class="mzp-c-emphasis-box">
  <form action="https://accounts.firefox.com/" data-mozillaonline-action="https://accounts.firefox.com.cn/" id="fxa-email-form" class="fxa-email-form">
    <h2 class="fxa-email-form-title">Take your privacy and bookmarks everywhere with a Firefox account.</h2>
    <p class="fxa-email-form-intro">
      <strong>Enter your email</strong> to access Firefox Accounts.
    </p>
    <div class="fxa-email-field-container">
      <p class="field">
        <label for="fxa-email-field">Email address</label>
        <input type="email" name="email" id="fxa-email-field" class="fxa-email-field" placeholder="user@example.com" required="">
      </p>
      <p class="agreement">
        By proceeding, you agree to the <a href="https://accounts.firefox.com/legal/terms">Terms of Service</a> and <a href="https://accounts.firefox.com/legal/privacy">Privacy Notice</a>.
      </p>
      <button type="submit" class="mzp-c-button mzp-t-primary mzp-t-product" id="fxa-email-form-submit" data-cta-type="fxa-sync" data-cta-text="Register" data-cta-position="primary">
        Continue
      </button>
    </div>
  </form>
  <p class="fxa-signin">
    Already have an account? <a href="https://accounts.firefox.com/signin?service=sync&amp;form_type=button&amp;entrypoint=mozilla.org-privacy-products&amp;context=fx_desktop_v3&amp;utm_source=mozilla.org-privacy-products&amp;utm_medium=referral&amp;utm_campaign=privacy-products" data-mozillaonline-link="https://accounts.firefox.com.cn/signin?service=sync&amp;form_type=button&amp;entrypoint=mozilla.org-privacy-products&amp;context=fx_desktop_v3&amp;utm_source=mozilla.org-privacy-products&amp;utm_medium=referral&amp;utm_campaign=privacy-products" class="js-fxa-cta-link">Sign In</a> or <a href="/en-US/firefox/accounts/">learn more</a> about joining Firefox.
  </p>
</div>
<hr>
<hr>
<hr>
<form id="newsletter-form" class="mzp-c-newsletter-form" action="/en-US/newsletter/" method="post">
  <input type="hidden" name="newsletters" value="mozilla-foundation" id="id_newsletters">
  <input type="hidden" name="source_url" value="https://www.mozilla.org/en-US/">
  <header class="mzp-c-newsletter-header">
    <h3 class="mzp-c-newsletter-title">Love the Web?</h3>
    <p class="mzp-c-newsletter-tagline">Get the Mozilla newsletter and help us keep it open and free.</p>
  </header>
  <fieldset class="mzp-c-newsletter-content">
    <p>
      <label for="id_email">
        Your email address
      </label>
      <input type="email" name="email" required="" placeholder="yourname@example.com" class="mzp-js-email-field" id="id_email">
    </p>
    <div id="newsletter-details" class="mzp-c-newsletter-details">
      <p><select name="country" required="required" aria-required="true" id="id_country">
          <option value="af">Afghanistan</option>
          <option value="qz">Akrotiri</option>
          <option value="al">Albania</option>
        </select></p>
      <p><select name="lang" required="required" aria-required="true" id="id_lang">
          <option value="de">Deutsch</option>
          <option value="en" selected="">English</option>
          <option value="es">Español</option>
          <option value="fr">Français</option>
          <option value="pl">Polski</option>
          <option value="pt">Português</option>
        </select></p>
      <fieldset class="mzp-u-inline">
        <legend>Format</legend>
        <p>
          <label for="format-html" class="mzp-u-inline">
            <input type="radio" id="format-html" name="fmt" value="H" checked=""> HTML
          </label>
          <label for="format-text" class="mzp-u-inline">
            <input type="radio" id="format-text" name="fmt" value="T"> Text
          </label>
        </p>
      </fieldset>
      <p>
        <label for="privacy" class="mzp-u-inline">
          <input type="checkbox" id="privacy" name="privacy" required="" aria-required="true"> I’m okay with Mozilla handling my info as explained
          in <a href="/en-US/privacy/websites/">this Privacy Notice</a>
        </label>
      </p>
    </div>
    <p class="mzp-c-form-submit">
      <button type="submit" id="newsletter-submit" class="mzp-c-button button-dark" data-cta-type="Newsletter-mozilla-foundation" data-cta-text="Newsletter Sign Up">
        Sign up now
      </button>
      <span class="mzp-c-fieldnote">We will only send you Mozilla-related information.</span>
    </p>
  </fieldset>
</form>
<hr>
<hr>
<hr>
<form action="/en-US/press/speakerrequest/" method="post" name="speaker-request-form" id="speaker-request-form" enctype="multipart/form-data">
  <input type="hidden" name="csrfmiddlewaretoken" value="xk1p2ljBYT4wcfP2TAboTiHT2O2MRwwikIcOAwAUdogOfHB0NE1VL54WwWPu418S">
  <h3><a href="https://www.mozilla.org/en-US/press/speakerrequest/">Speaker request form</a></h3>
  <fieldset>
    <ol>
      <li class="mzp-c-field required">
        <label class="mzp-c-field-label" for="sr_event_name">Event Name</label>
        <input class="mzp-c-field-control" id="sr_event_name" name="sr_event_name" type="text" maxlength="255" aria-required="true"  required>
      </li>
      <li class="mzp-c-field required">
        <label class="mzp-c-field-label" for="sr_event_url">Event URL</label>
        <input class="mzp-c-field-control" id="sr_event_url" name="sr_event_url" type="url" placeholder="https://www.example.com" maxlength="2000" aria-required="true" required>
      </li>
      <li class="mzp-l-fields-datetime required">
        <div class="mzp-c-field">
          <label class="mzp-c-field-label" for="sr_event_date">Date</label>
          <input class="mzp-c-field-control" id="sr_event_date" name="sr_event_date" type="date" aria-required="true" required>
          <div class="mzp-c-field-msg">2015-03-14 or March 14, 2015</div>
        </div>
        <div class="mzp-c-field">
          <label class="mzp-c-field-label" for="sr_event_time">Time</label>
          <input class="mzp-c-field-control" id="sr_event_time" name="sr_event_time" type="time" aria-required="true" required>
          <div class="mzp-c-field-msg" style="display: none;">2:30 PM or 14:30</div>
        </div>
      </li>
      <li class="mzp-c-field">
        <label class="mzp-c-field-label" for="sr_guest_speaker1">Guest Speaker Choice #1</label>
        <input class="mzp-c-field-control" id="sr_guest_speaker1" name="sr_guest_speaker1" type="text" maxlength="200">
      </li>
      <li class="mzp-c-field">
        <label class="mzp-c-field-label" for="sr_guest_speaker2">Guest Speaker Choice #2</label>
        <input class="mzp-c-field-control" id="sr_guest_speaker2" name="sr_guest_speaker2" type="text" maxlength="200">
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <legend>Contact Information</legend>
    <ol>
      <li class="mzp-c-field required">
        <label class="mzp-c-field-label" for="sr_contact_name">Name</label>
        <input class="mzp-c-field-control" id="sr_contact_name" name="sr_contact_name" type="text" maxlength="200" aria-required="true"  required>
      </li>
      <li class="mzp-c-field">
        <label class="mzp-c-field-label" for="sr_contact_title">Title</label>
        <input class="mzp-c-field-control" id="sr_contact_title" name="sr_contact_title" type="text" maxlength="200">
      </li>
      <li class="mzp-c-field">
        <label class="mzp-c-field-label" for="sr_contact_company">Company</label>
        <input class="mzp-c-field-control" id="sr_contact_company" name="sr_contact_company" type="text" maxlength="200">
      </li>
      <li class="mzp-c-field">
        <label class="mzp-c-field-label" for="sr_contact_phone">Phone</label>
        <input class="mzp-c-field-control" id="sr_contact_phone" name="sr_contact_phone" type="tel" maxlength="50">
      </li>
      <!-- TODO -->
      <div class="super-priority-field"><label for="office-fax-628-20191121134756096246">Leave this field empty.</label><input type="text" name="office_fax" id="office-fax-628-20191121134756096246"></div>
      <li class="mzp-c-field required">
        <label class="mzp-c-field-label" for="sr_contact_email">Email</label>
        <input class="mzp-c-field-control" placeholder="you@example.com" id="sr_contact_email" name="sr_contact_email" type="email" maxlength="254" aria-required="true"  required>
      </li>
      <li class="mzp-c-field">
        <label class="mzp-c-field-label" for="sr_contact_company_url">Company URL</label>
        <input class="mzp-c-field-control" placeholder="https://www.example.com" id="sr_contact_company_url" name="sr_contact_company_url" type="url" maxlength="2000">
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <legend>Event Details</legend>
    <ol>
      <li class="mzp-c-field">
        <label class="mzp-c-field-label" for="sr_event_venue">Venue</label>
        <input class="mzp-c-field-control" id="sr_event_venue" name="sr_event_venue" type="text" maxlength="400">
      </li>
      <li class="mzp-c-field">
        <label class="mzp-c-field-label" for="sr_event_theme">Theme</label>
        <input class="mzp-c-field-control" id="sr_event_theme" name="sr_event_theme" type="text" maxlength="200">
      </li>
      <li class="mzp-c-field">
        <label class="mzp-c-field-label" for="sr_event_goal">Goal</label>
        <input class="mzp-c-field-control" id="sr_event_goal" name="sr_event_goal" type="text" maxlength="300">
      </li>
      <li class="mzp-c-field">
        <label class="mzp-c-field-label" for="sr_event_format">Format</label>
        <input class="mzp-c-field-control" id="sr_event_format" name="sr_event_format" type="text" maxlength="200">
      </li>
      <li class="mzp-c-field">
        <label class="mzp-c-field-label" for="sr_event_audience_size">Expected Audience Size</label>
        <input class="mzp-c-field-control" id="sr_event_audience_size" name="sr_event_audience_size" type="number" min="1" placeholder="25">
      </li>
      <li class="mzp-c-field">
        <label class="mzp-c-field-label" for="sr_event_audience_demographics">Audience Demographics</label>
        <textarea class="mzp-c-field-control" id="sr_event_audience_demographics" name="sr_event_format" cols="40" rows="10" maxlength="500"></textarea>
      </li>
      <li class="mzp-c-field">
        <label class="mzp-c-field-label" for="sr_event_speakers_confirmed">Confirmed Speakers</label>
        <textarea class="mzp-c-field-control" id="sr_event_speakers_confirmed" name="sr_event_speakers_confirmed" cols="40" rows="10" maxlength="500"></textarea>
      </li>
      <!--
      <li class="field">
        <label for="sr_event_speakers_invited">Invited Speakers</label>
        <textarea name="sr_event_speakers_invited" cols="40" rows="10" maxlength="500" id="sr_event_speakers_invited"></textarea>
      </li>
      <li class="field">
        <label for="sr_event_speakers_past">Past Speakers</label>
        <textarea name="sr_event_speakers_past" cols="40" rows="10" maxlength="1000" id="sr_event_speakers_past"></textarea>
      </li>
      <li class="field">
        <label for="sr_event_media_coverage">Media Coverage</label>
        <textarea name="sr_event_media_coverage" cols="40" rows="10" maxlength="500" id="sr_event_media_coverage"></textarea>
      </li>
      <li class="field">
        <label for="sr_event_sponsors">Event Sponsors</label>
        <textarea name="sr_event_sponsors" cols="40" rows="10" maxlength="500" id="sr_event_sponsors"></textarea>
      </li>
      -->
      <li class="mzp-c-field">
        <label class="mzp-c-field-label" for="sr_event_confirmation_deadline">Confirmation Deadline</label>
        <input class="mzp-c-field-control" id="sr_event_confirmation_deadline" name="sr_event_confirmation_deadline" type="date">
        <div class="mzp-c-field-msg">2015-03-14 or March 14, 2015</div>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <legend>Presentation Details</legend>
    <ol>
      <li>
        <fieldset class="mzp-c-group-choices">
          <legend class="mzp-c-field-label">Type of Presentation</legend>
          {{#embed "patterns.molecules.forms.test.choice" id="sr_presentation_type_0" type="checkbox" name="sr_presentation_type" value="keynote" }}{{#content "label"}}Keynote{{/content}}{{/embed}}
          {{#embed "patterns.molecules.forms.test.choice" id="sr_presentation_type_1" type="checkbox" name="sr_presentation_type" value="presentation" }}{{#content "label"}} Presentation{{/content}}{{/embed}}
          {{#embed "patterns.molecules.forms.test.choice" id="sr_presentation_type_2" type="checkbox" name="sr_presentation_type" value="fireside chat" }}{{#content "label"}}Fireside Chat{{/content}}{{/embed}}
          {{#embed "patterns.molecules.forms.test.choice" id="sr_presentation_type_3" type="checkbox" name="sr_presentation_type" value="panel" }}{{#content "label"}} Panel{{/content}}{{/embed}}
          {{#embed "patterns.molecules.forms.test.choice" id="sr_presentation_type_4" type="checkbox" name="sr_presentation_type" value="other" }}{{#content "label"}}Other{{/content}}{{/embed}}
        </fieldset>
      </li>
      <li class="mzp-c-field">
        <label class="mzp-c-field-label" for="sr_presentation_topic">Topic of Presentation</label>
        <input class="mzp-c-field-control" id="sr_presentation_topic" name="sr_presentation_topic" type="text" maxlength="255">
      </li>
      <li class="mzp-c-field">
        <label class="mzp-c-field-label" for="sr_presentation_length">Expected Length <span class="mzp-c-fieldnote">(in hours, e.g. 2.5)</span></label>
        <input class="mzp-c-field-control" id="sr_presentation_length" name="sr_presentation_length" type="number" min="0.5" step="0.5" placeholder="2.5">
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <legend>Additional Information</legend>
    {{#embed "patterns.molecules.forms.test.input" id="sr_attachment" type="file"}}{{#content "label"}}PDF Attachment<span class="mzp-c-fieldnote">Agenda, media list, etc. Maximum file size is 5 MB.</span>{{/content}}{{/embed}}
  </fieldset>
  <button type="submit" name="submit_form" class="button">Submit</button>
</form>
<hr>
<hr>
<hr>
<form name="mozilla-contact-us" id="press_inquiry" class="press-inquiry" action="/en-US/press/press-inquiry/" method="post">
  <h3><a href="https://www.mozilla.org/en-US/press/press-inquiry/">Press Inquiry</a></h3>
  <fieldset>
    {{#embed "patterns.molecules.forms.test.input" id="id_jobtitle" name="jobtitle" type="text" required="true"}}{{#content "label"}}Job Title{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.input" id="id_name" name="name" type="text" required="true"}}{{#content "label"}}Name{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.input" id="id_user_email" name="user_email" type="email" required="true"}}
      {{#content "label"}}Email{{/content}}
      {{#content "attrs"}}maxlength="254" placeholder="example@example.com"{{/content}}
    {{/embed}}
    {{#embed "patterns.molecules.forms.test.input" id="id_media_org" name="media_org" type="text" required="true"}}{{#content "label"}}Media Organization{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.test.textarea" id="id_inquiry" required="true"}}
      {{#content "label"}}Inquiry{{/content}}
      {{#content "attrs"}}cols="40" rows="10"{{/content}}
    {{/embed}}
    {{#embed "patterns.molecules.forms.test.input" id="id_deadline" name="deadline" type="date" required="true" msg="2015-03-14 or March 14, 2015"}}{{#content "label"}}Deadline{{/content}}{{/embed}}
    <div class="super-priority-field"><label for="office-fax-145-20191121134754156430">Leave this field empty.</label><input type="text" name="office_fax" id="office-fax-145-20191121134754156430"></div>
  </fieldset>
  <div class="form-submit">
    <input type="submit" class="button" id="form-submit" value="Submit">
  </div>

  <h2>Unstyled form elements</h2>
  <fieldset>
    <legend>Unstyled form elements - just to make sure I did not break them</legend>
    <label for="p-color">Color</label>
    <input type="color" name="color" id="p-color">
    <label for="p-date">Date</label>
    <input type="date" name="date" id="p-date">
    <label for="p-email">E-mail</label>
    <input type="email" name="email" id="p-email">
    <label for="p-file">File</label>
    <input type="file" name="file" id="p-file">
    <label for="p-list">List</label>
    <input list="p-list-options" name="list" id="p-list">
    <datalist id="p-list-options">
      <option value="Option 1">
      <option value="Option 2">
    </datalist>
    <label for="p-number">Number</label>
    <input type="number" name="number" id="p-number">
    <label for="p-password">Password</label>
    <input type="password" name="password" id="p-password">
    <label for="p-search">Search</label>
    <input type="search" name="search" id="p-search">
    <label for="p-tel">Tel</label>
    <input type="tel" name="tel" id="p-tel">
    <label for="p-text">Text</label>
    <input type="text" name="text" id="p-text">
    <label for="p-time">Time</label>
    <input type="time" name="time" id="p-time">
    <label for="p-url">URL</label>
    <input type="url" name="url" id="p-url">
    <label for="p-select">Select</label>
    <select name="select" id="p-select">
      <option>Option 1</option>
      <option>Option 2</option>
    </select>
    <label for="p-textarea">Text area</label>
    <textarea name="textarea" id="p-textarea"></textarea>
    <label for="p-checkbox">
      <input type="checkbox" name="checkbox" id="p-checkbox"> Option 1
    </label>
    <label for="p-radio">
      <input type="radio" name="radio" id="p-radio"> Option 1
    </label>
    <button type="button">Button</button>
  </fieldset>
</form>

<script>
(function(doc, Mzp) {
  var form = doc.getElementById('form');
  var buttons = doc.querySelectorAll('#status input[type=radio]');

  // add listener for change
  for (i = 0; i < buttons.length; ++i) {
    buttons[i].addEventListener('change', function() {
      var button = this;
      var status = button.value;
      var newClass = 'mzp-is-' + status;
      form.className = newClass;
    })
  }

  // when there's a change remove class from from

  // create new class and add to form

})(document, window.Mzp);
</script>
