---
title: Box shadow test
layout: blank
styles:
  - shadow-test
---

<section class="mzp-l-content">
  <ul class="shadow-boxes color-white"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>

  <ul class="shadow-boxes color-pink-10"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-pink-30"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-pink-50"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-pink-70"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-pink-90"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>

  <ul class="shadow-boxes color-red-10"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-red-30"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-red-50"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-red-70"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-red-90"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>

  <ul class="shadow-boxes color-orange-10"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-orange-30"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-orange-50"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-orange-70"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-orange-90"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>

  <ul class="shadow-boxes color-yellow-10"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-yellow-30"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-yellow-50"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-yellow-70"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-yellow-90"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>

  <ul class="shadow-boxes color-green-10"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-green-30"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-green-50"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-green-70"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-green-90"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>

  <ul class="shadow-boxes color-blue-10"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-blue-30"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-blue-50"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-blue-70"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-blue-90"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>

  <ul class="shadow-boxes color-violet-10"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-violet-30"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-violet-50"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-violet-70"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-violet-90"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>

  <ul class="shadow-boxes color-purple-10"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-purple-30"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-purple-50"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-purple-70"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-purple-90"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>

  <ul class="shadow-boxes color-gray-10"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-gray-30"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-gray-50"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-gray-70"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>
  <ul class="shadow-boxes color-gray-90"><li class="t-shadow-sm">SM</li> <li class="t-shadow-md">MD</li> <li class="t-shadow-lg">LG</li></ul>

</section>
