// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// Import all the things!
@import './node_modules/@mozilla-protocol/tokens/dist/index.scss';
@import 'variables';
@import 'functions';
@import 'mixins';


/* forms */
// TODO: new home
$form-red: #D70022;
$form-yellow: #D7B600;
$form-green: $color-green-60;
$field-min-width: 300px;
$field-padding: $spacing-sm;
$label-spacing: $spacing-sm;
$field-spacing: $spacing-lg;
$field-border: 2px solid $color-gray-50;
$check-height: 26px;
$symbol-spacing: calc(1.5em + #{$spacing-sm * 2});
$check-sprite-grid: 30px;


@mixin form-label() {
    @include text-body-sm;
    color: $color-gray-70;
    display: block;
    font-weight: bold;
    margin: 0 0 $label-spacing;
}
