// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// Import all the things!
@import './node_modules/@mozilla-protocol/tokens/dist/index.scss';
@import 'variables';
@import 'functions';
@import 'mixins';


/* forms */
// TODO: new home
$form-red: #D70022;
$form-yellow: #D7B600;
$form-green: $color-green-60;
$check-height: 26px;
$check-sprite-grid: 30px;
$field-border: 2px solid $color-gray-50;
$field-min-width: 300px;
$field-padding: $spacing-sm;
$field-spacing: $spacing-lg;
$label-spacing: $spacing-sm;
$symbol-spacing: calc(1.5em + #{$spacing-sm * 2});

@mixin form-label() {
    @include text-body-sm;
    display: block;
    font-weight: bold;
    margin: 0 0 $label-spacing;
    line-height: $text-body-line-height;
}

@mixin form-input() {
    @include border-box;
    @include text-body-md;
    background-color: $color-white;
    border-radius: 4px;
    border: $field-border;
    line-height: 1.25;
    margin: 0 0 $field-spacing;
    padding: $field-padding;
}

@mixin form-msg() {
    @include text-body-xs;
    @include border-box;
    background-color: $form-red;
    border-radius: 4px;
    box-shadow: 0 8px 12px 1px rgba(28, 17, 50, 0.04),
                0 3px 16px 2px rgba(9, 32, 78, 0.12),
                0 4px 6px -3px rgba(9, 32, 78, 0.12);
    color: #fff;
    margin: 2px 0 0;
    max-width: 100%;
    padding: $spacing-xs #{$spacing-sm + 2px};
    position: relative;
    width: max-content;
}

@mixin form-msg-pointer() {
    content: '';
    border: 7px solid transparent;
    border-bottom: 8px solid $form-red;
    position: absolute;
    bottom: 100%;
    left: 6px;
    height: 0;
    width: 0;
    z-index: 1;
}

@mixin form-info() {
    @include text-body-sm;
    margin: 0;
}
