---
name: Custom Checkboxes and Radio Buttons
description: These are available with special code that needs to be precicely used.
order: 1
notes: |
    - use `mzp-c-input-choice` for both checkboxes and radio buttons
    - the input must be before the label in source order
    - nothing else can go inside the parent div
---


{{#embed "patterns.molecules.forms.test.choice" id="c1" type="radio" name="c1"}}
  {{#content "label"}}
    Label
  {{/content}}
{{/embed}}

{{#embed "patterns.molecules.forms.test.choice" id="c2" type="checkbox" name="c2"}}
{{#content "label"}}
    Label
  {{/content}}
{{/embed}}

{{#embed "patterns.molecules.forms.test.choice" id="c3" type="checkbox" name="c3" is-legal="true" }}
 {{#content "label"}}
    I'm okay with Mozilla handling my info as expalined in this <a href="#">privacy notice</a>
  {{/content}}
{{/embed}}

<fieldset class="mzp-c-group-choices">
  <legend>Multiple radio buttons <span class="mzp-c-fieldnote">Example with a fieldnote.</span></legend>
  {{#embed "patterns.molecules.forms.test.choice" id="o1" type="radio" name="o"}}
    {{#content "label"}}
      Option One
    {{/content}}
  {{/embed}}
  {{#embed "patterns.molecules.forms.test.choice" id="o2" type="radio" name="o"}}
    {{#content "label"}}
      Option Two
    {{/content}}
  {{/embed}}
</fieldset>
