---
name: Form Inline
description: Form Inline
order: 4
---


Check boxes in a row.

Is this just a layout option? applied to any input group?


<fieldset class="mzp-c-set-choices mzp-l-set-inline">
  <legend>Check boxes <span class="mzp-c-fieldnote">Example with a fieldnote.</span></legend>
  <div class="mzp-c-input-choice">
    <input type="checkbox" name="checkboxes" id="checkbox-c4">
    <label for="checkbox-c4">Option 1</label>
  </div>
  <div class="mzp-c-input-choice">
    <input type="checkbox" name="checkboxes" id="checkbox-c5">
    <label for="checkbox-c5">Option 2</label>
  </div>
  <div class="mzp-c-input-choice">
    <input type="checkbox" name="checkboxes" id="checkbox-c6">
    <label for="checkbox-c6">Obnoxiously long input option that is intended to push this to a new line</label>
  </div>
  <div class="mzp-c-input-choice">
    <input type="checkbox" name="checkboxes" id="checkbox-c7">
    <label for="checkbox-c7">Option 4</label>
  </div>
</fieldset>
