---
description: |
  Protocol core contains some basic form styles:

  - some normalization between browsers
  - styles for fieldset, legend, input, select
  - utility classes for errors and error messages

  For more complex layouts and user feedback options see the form organisms.
order: 1
tips: |

---

<fieldset>
  <label for="text-b">Text</label>
  <input type="text" name="text" id="text-b">

  <label for="email-b">E-mail</label>
  <input type="email" name="email" id="email-b" placeholder="you@example.com">

  <label for="password-b">Password</label>
  <input type="password" name="password" id="password-b">

  <label for="search-b">Search</label>
  <input type="search" name="search" id="search-b">

  <label for="textarea-b">Text area</label>
  <textarea name="textarea" id="textarea-b" rows="3" cols="40"></textarea>

  <label for="language-1">Language</label>
    <select name="language" id="language-1">
    {{#each (data "items")}}
      <option value="{{lang-code}}">{{language}}</option>
    {{/each}}
  </select>
</fieldset>

<fieldset>
  <legend>Check boxes</legend>
  <label for="checkbox-1-b">
    <input type="checkbox" name="checkboxes" id="checkbox-1-b"> Option 1
  </label>
  <label for="checkbox-2-b">
    <input type="checkbox" name="checkboxes" id="checkbox-2-b"> Option 2
  </label>
</fieldset>

<fieldset>
  <legend>Radio buttons</legend>
  <label for="radio-1-b">
    <input type="radio" name="radios" id="radio-1-b"> Option 1
  </label>
  <label for="radio-2-b">
    <input type="radio" name="radios" id="radio-2-b"> Option 2
  </label>
</fieldset>
